body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url('data/bgs/bark0.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: chartreuse;
}
.welcomeCanvas {
    border: 5px outset chartreuse;
    background-color: darkgreen;
}
.navbar {
    border: 5px outset red;
    background-color: rgb(2, 45, 59);
    text-align: center;
    display: table;  
}
.h1bar {
    border: 5px outset darkgreen;
    background-color: black;
    text-align: center;   
}
div {
    border: 5px outset chartreuse;
    background-color: black;
    text-align: center;
}