body {
    font-family: 'Arial';
    border: black;
    padding: 10px;
    margin: 10px;
    background: linear-gradient(135deg, blue 0%, blue 75%, brown 100%);
    background-size: 100% 100%;
    color: grey;
}

.pageTop{
    border: white;
    padding: 10px;
    margin: 10px;
    background-color: white;
    color: black;
    text-align: center;
    
}

.banner{
    border: lightcyan;
    padding: 10px;
    margin: 50px;
    background-color: white;
    color: black;
    align-items: center;
}
.logo{
    background-image: url('data/LumberdomeLogo.png');
    background-size: 110%;
    width: 300px;
    height: 100px;
    align-self: center;
}
.class{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.navbar {
    text-align: center;
    display: table-row;
}

.h1bar {
    border: inherit;
    background-color: inherit;
    text-align: center;   
}
div {
    padding: inherit;
    border: inherit;
    background-color: inherit;
    text-align: center;
}

.Lumberdome {
    border: 5px 'black';
    padding: 10px;
    background-color: darkgreen;
}
.startButton {
    border: 5px 'black';
    background-color: white;
    color: black;
    width: 120;
    height: 40;
}

footer {
    color: white;
}